{# app/Resources/views/form/submit.html.twig #}

{% block submit_widget %}
    {% set type = type|default('submit') %}

    {% if label is empty %}
        {% if label_format is not empty %}
            {% set label = label_format|replace({
                '%name%' : name,
                '%id%' : id,
            }) %}
        {% else %}
            {% set label = name|humanize %}
        {% endif %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {% if fa is defined %}
            {% if left is defined and left %}
                <i class="fa {{ fa }}" aria-hidden="true"></i>
            {% endif %}
            {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
            {% if right is defined and right %}
                <i class="fa {{ fa }}" aria-hidden="true"></i>
            {% endif %}
        {% else %}
            {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
        {% endif %}
    </button>
{% endblock submit_widget %}