{% extends 'base.html.twig' %}

	{# Variables #}
	{% if app.request.get("_route") == 'addLog' %}

        {% set title_page = "Ajouter un nouveau log" %}
        {% set description_page = "Création d'un nouveau log" %}

    {% elseif app.request.get("_route") == 'editLog' %}

        {% set title_page = "Modifier le log " ~ form.vars.value.id %}
        {% set description_page = "Édition du log : " ~ form.vars.value.id %}

    {% endif %}
	
	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}

                ArcOffice - {{ title_page }}

            {% endblock seo_title %}

            {# Description #}
            {% block seo_description %}

                {{ description_page }}

            {% endblock seo_description %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-edition{% endblock %}

	{# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : title_page } %}

            {% block fil_ariane_link %}

                <li class="breadcrumb-item d-flex align-items-center">

                    <a href="{{ path('listeLogs') }}">Logs</a>

                </li>

            {% endblock %}

        {% endembed %}

    {% endblock fil_ariane %}

	{% block content %}

        {# Section Principale #}
        <section class="section-main">

            <div class="container">

                <div class="row">

                    {# Colonne Édition d'un log #}
                    <div class="col col-arcoffice col-log-editer">

                        {{ form_start(form) }}

                        {% form_theme form 'form/submit.html.twig' %}

                        {# Titre + Boutons #}
                        <div class="form-title d-flex align-items-center">

                            {{ title_page }}

                            <div class="ml-auto mr-1">

                                {# Supprimer #}
                                {% if form.vars.value.id %}

                                    {% include 'include/liste/btn-supprimer.html.twig' with {

                                        title : "Supprimer le log",
                                        route_delete : 'deleteLog',
                                        route_liste : 'listeLogs',
                                        message: "Le log a bien été supprimé.",
                                        id: form.vars.value.id

                                    } %}

                                {% endif %}

                                {# Enregistrer #}
                                {{ form_widget(form.envoyer, {
                                    'fa' : 'fa-check',
                                    'right' : true,
                                    'label' : ' ',
                                    'attr': {
                                        'class': 'btn btn-sm btn-outline-success title-tooltip',
                                        'title': "Enregistrer le log"
                                    }
                                }) }}

                            </div>

                        </div>

                        <div class="form-row form-group">

                            {# Entity #}
                            <div class="col-2">

                                {{ form_label(form.entity) }}

                                {{ form_errors(form.entity) }}

                                {{ form_widget(form.entity, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                            {# Action #}
                            <div class="col-2">

                                {{ form_label(form.action) }}

                                {{ form_errors(form.action) }}

                                {{ form_widget(form.action, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                            {# Id de l'entity #}
                            <div class="col-2">

                                {{ form_label(form.entityId) }}

                                {{ form_errors(form.entityId) }}

                                {{ form_widget(form.entityId, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>
                        </div>

                        <div class="form-row form-group">

                            {# Info #}
                            <div class="col">

                                {{ form_label(form.info) }}

                                {{ form_errors(form.info) }}

                                {{ form_widget(form.info, { 'attr': { 'class': 'form-control form-control-sm', "rows": 5 } }) }}

                            </div>

                            {# Essai #}
                            {# <div class="col">

                                {{ form_label(form.essai) }}

                                {{ form_errors(form.essai) }}

                                {{ form_widget(form.essai, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div> #}

                        </div>

                        <div class="form-row form-group">

                            <div class="col">

                                {{ form_label(form.changeSet) }}

                                {{ form_errors(form.changeSet) }}

                                {{ form_widget(form.changeSet, { 'attr': { 'class': 'form-control form-control-sm', "rows": 10  } }) }}

                            </div>

                        </div>

                        {{ form_end(form) }}

                    </div>

                    {# Colonne Information #}
                    {% if app.request.get('_route') == 'editLog' %}

                        <div class="col-4 col-arcoffice col-log-editer">

                            {# Titre + Boutons #}
                            <div class="form-title d-flex align-items-center">Informations</div>

                            <p>

                            </p>

                        </div>

                    {% endif %}

                </div>

            </div>

        </section>

    {% endblock content %}