*
    {% extends 'base.html.twig' %}
    
    {# Réécriture SEO #}
    {% block header %}

        {% embed "include/header.html.twig" %}
            
            {# Titre #}
            {% block seo_title %}
                
                ArcOffice - Liste des logs

            {% endblock seo_title %}
            
            {# Description #}
            {% block seo_description %}
                
                Gestion des patiens

            {% endblock seo_description %}

        {% endembed %}

    {% endblock header %}

    {# Body Class #}
    {% block body_class %}arcoffice-liste arcoffice-liste-logs{% endblock %}

    {# Section 'Fil d'ariane' #}
    {% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : 'Logs, Mots-clés' } %} 

            {% block fil_ariane_more %}

                <div class="ml-auto d-flex">

                    {# Ajouter un log #}
                    <a class="btn btn-sm btn-outline-primary mr-3" href="{{ path('addLog') }}">

                        Ajouter <i class="fa fa-plus ml-1"></i>
                            
                    </a>

                    {# Barre de recherche #}
                    <form id="recherche" class="form-inline ml-auto">

                        <div class="arcoffice-count">
                            
                            {{ logs.getTotalItemCount }} log(s) trouvée(s)

                        </div> 

                        <input class="search liste-logs-recherche form-control form-control-sm mr-2" autocomplete="off" type="text" id='input-recherche' value='{{ app.request.get("recherche") }}' name="recherche" placeholder="Rechercher une log" aria-label="Rechercher un log">
                        
                        <button class="btn btn-violet btn-sm" @click.prevent="search" type="submit">

                            <i class="fa fa-search" aria-hidden="true"></i>
                                
                        </button>
                        
                    </form>

                </div>

            {% endblock fil_ariane_more %}

        {% endembed %}

    {% endblock fil_ariane %}
    
    {% block content %}

        {# Section Principale #}
        <section class="section-main">
            
            <div class="container">

        
                <div class="row">
                    
                <h4 class="text-center">Liste des mots-clefs</h4>
                    
                    {# Liste des logs #}
                    <table class="table table-sm table-striped table-hover table-responsive">

                        <thead>

                            <tr>
                                
                                <th class='{% if logs.isSorted('p.nom') %}sorted{% endif %}'>

                                    {{ knp_pagination_sortable(logs, 'Log', ['p.nom']) }}

                                </th>
                                
                            </tr>

                        </thead>
                        
                        <tbody class="list">

                            {% for log in logs %}

                                <tr>

                                    <td class="log">

                                        <a href="{{ path('editLog', { id : log.id }) }}">

                                            {{ log.info }}

                                        </a>

                                    </td>

                                </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                    {# Pagination #}
                    {{ knp_pagination_render(logs) }}

                </div>
        
            </div>
        
        </section>

    {% endblock content %}
