	
	{# Flash Messages #}
	<section class="flash-messages">

		<div class="container">

			<div class="row">
			
				{% if app.session is not null and app.session.started %}
					
					{% for label, messages in app.session.flashbag.all %}
					    
					    {% for message in messages %}
					       	
					       	<div class="w-100 alert alert-{{ label }}">
					       		
					       		{{ message }}

					       		<button type="button" class="close" data-dismiss="alert" aria-label="Close">

									<span aria-hidden="true">&times;</span>

								</button>
													   		
					   		</div>

					    {% endfor %}

					{% endfor %}
				
				{% endif %}

			</div>

		</div>

	</section>