
	<!-- Embed Footer -->
	
		<div class="container">

			<div class="d-flex small">
				
				<p class="mb-0">© Arcoffice - 2017</p>

				<div class="ml-auto">
					
					<a href="#">Mentions Légales</a> |

					<a href="#">Support</a>

				</div>
				
			</div>

		</div>

