{% extends 'base.html.twig' %}

	{# Variables #}
	{% if app.request.get("_route") == 'addTraitement' %}

        {% set title_page = "Ajouter un nouveau traitement" %}
        {% set description_page = "Création d'un nouveau traitement" %}

    {% elseif app.request.get("_route") == 'editTraitement' %}

        {% set title_page = "Editer le traitement" %}
        {% set description_page = "Édition du traitement" %}

    {% endif %}

	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}

                {{ title_page }} - ArcOffice

            {% endblock seo_title %}

            {# Description #}
            {% block seo_description %}

                {{ description_page }}

            {% endblock seo_description %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-edition{% endblock %}

    {# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : title_page } %}

            {% block fil_ariane_link %}

                <li class="breadcrumb-item d-flex align-items-center">

                    <a href="{{ path('listeTraitements', {id: form.vars.value.inclusion.id }) }}">Traitements de
                        l'inclusion N° {{ form.vars.value.inclusion.numInc }}</a>

                </li>

            {% endblock %}

        {% endembed %}

    {% endblock fil_ariane %}

	{% block content %}

        {# Section Principale #}
        <section class="section-main">

            <div class="container">

                <div class="row">

                    {# Colonne Édition d'une traitement #}
                    <div class="col col-arcoffice col-arc-editer">

                        {{ form_start(form) }}

                        {% form_theme form 'form/submit.html.twig' %}

                        {# Titre + Boutons #}
                        <div class="form-title d-flex align-items-center">

                            {{ title_page }} {% if index is defined %}{{ index + 1 }}{% endif %}

                            <div class="ml-auto mr-1">

                                {# Liste #}
                                {% if form.vars.value.id %}

                                    <a title='Liste des traitements'
                                       class='btn btn-sm btn-outline-primary title-tooltip'
                                       href="{{ path('listeTraitements', {id: form.vars.value.inclusion.id }) }}">
                                        <i class="fa fa-list" aria-hidden="true"
                                        ></i>
                                    </a>

                                 {# Supprimer #}   

                                    {% include 'include/liste/btn-supprimer.html.twig' with {

                                        title : "Supprimer le traitement",
                                        route_delete : 'deleteTraitement',
                                        route_liste : 'listeTraitements',
                                        route_liste_param : {id: form.vars.value.inclusion.id},
                                        message: "Le traitement a été supprimée.",
                                        id: form.vars.value.id

                                    } %}

                                {% endif %}

                                {# Enregistrer #}

                                {{ form_widget(form.envoyer, {
                                    'fa' : 'fa-check',
                                    'right' : true,
                                    'label' : ' ',
                                    'attr': {
                                        'class': 'btn btn-sm btn-outline-success title-tooltip',
                                        'title': "Enregistrer le traitement"
                                    }
                                }) }}

                            </div>

                        </div>

                        {# Form attribution #}
                        <div class="form-row form-group">

                            {# date att #}
                            <div class="col">
                                {{ form_label(form.attributionAt) }}
                                {{ form_errors(form.attributionAt) }}
                                {{ form_widget(form.attributionAt, { 'attr': { 'class': 'form-control form-control-sm js-datepicker' } }) }}
                            </div>

                            {# date Prise #}
                            <div class="col">
                                {{ form_label(form.priseAt) }}
                                {{ form_errors(form.priseAt) }}
                                {{ form_widget(form.priseAt, { 'attr': { 'class': 'form-control form-control-sm js-datepicker' } }) }}
                            </div>


                            {# date Peremption #}
                            <div class="col">
                                {{ form_label(form.peremptionAt) }}
                                {{ form_errors(form.peremptionAt) }}
                                {{ form_widget(form.peremptionAt, { 'attr': { 'class': 'form-control form-control-sm js-datepicker' } }) }}
                            </div>

                        </div>

                        <div class="form-row form-group">

                            <div class="col">
                                {{ form_label(form.traitement) }}
                                {{ form_errors(form.traitement) }}
                                {{ form_widget(form.traitement, { 'attr': { 'class': 'form-control form-control-sm' } }) }}
                            </div>

                            <div class="col">
                                {{ form_label(form.numLot) }}
                                {{ form_errors(form.numLot) }}
                                {{ form_widget(form.numLot, { 'attr': { 'class': 'form-control form-control-sm' } }) }}
                            </div>

                        </div>

                        <div class="form-row form-group">

                            <div class="col">
                                {{ form_label(form.nombre) }}
                                {{ form_errors(form.nombre) }}
                                {{ form_widget(form.nombre, { 'attr': { 'class': 'form-control form-control-sm' } }) }}
                            </div>

                            <div class="col">
                                {{ form_label(form.verificateur) }}
                                {{ form_errors(form.verificateur) }}
                                {{ form_widget(form.verificateur, { 'attr': { 'class': 'form-control form-control-sm' } }) }}
                            </div>

                        </div>

                        <div class="form-row form-group">

                            <div class="col">
                                {{ form_label(form.notes) }}
                                {{ form_errors(form.notes) }}
                                {{ form_widget(form.notes, { 'attr': { 'class': 'form-control form-control-sm', 'rows': 3 } }) }}
                            </div>

                        </div>

                        {# Form Retour #}
                        <hr>

                        <div class="form-row form-group">

                            <div class="col-3">
                                {{ form_label(form.retour) }}
                                {{ form_errors(form.retour) }}
                                {{ form_widget(form.retour, { 'attr': { 'class': 'form-control form-control-sm' }} ) }}
                            </div>

                        </div>

                        {# S'ouvre Retour=oui #}
                        <div style="display: {% if form.vars.value.retour %}block;{% else %}none;{% endif %}" id="retour-input">

                            <div class="form-row form-group">

                                <div class="col-4">
                                {{ form_label(form.retourAt) }}
                                {{ form_errors(form.retourAt) }}
                                {{ form_widget(form.retourAt, { 'attr': { 'class': 'form-control form-control-sm js-datepicker retour-input' } }) }}
                            	</div>

                            </div>

                            <div class="form-row form-group">{# tt et n° Lot #}

                                <div class="col">
                                {{ form_label(form.traitementRetour) }}
                                {{ form_errors(form.traitementRetour) }}
                                {{ form_widget(form.traitementRetour, { 'attr': { 'class': 'form-control form-control-sm retour-input' } }) }}
                            	</div>

                                <div class="col">
                                {{ form_label(form.numLotRetour) }}
                                {{ form_errors(form.numLotRetour) }}
                                {{ form_widget(form.numLotRetour, { 'attr': { 'class': 'form-control form-control-sm retour-input' } }) }}
                            	</div>

                            </div>

                            <div class="form-row form-group">{# Nbr et verificateur #}

                                <div class="col">
                                {{ form_label(form.nombreRetour) }}
                                {{ form_errors(form.nombreRetour) }}
                                {{ form_widget(form.nombreRetour, { 'attr': { 'class': 'form-control form-control-sm retour-input' } }) }}
                            	</div>

                                <div class="col">
                                {{ form_label(form.verificateurRetour) }}
                                {{ form_errors(form.verificateurRetour) }}
                                {{ form_widget(form.verificateurRetour, { 'attr': { 'class': 'form-control form-control-sm retour-input' } }) }}
                            	</div>

                            </div>

                            <div class="form-row form-group">{# Notes #}

                                <div class="col">
                                {{ form_label(form.notesRetour) }}
                                {{ form_errors(form.notesRetour) }}
                                {{ form_widget(form.notesRetour, { 'attr': { 'class': 'form-control form-control-sm retour-input', 'rows': 3 } }) }}
                            	</div>

                            </div>

                        </div>

                        {{ form_end(form) }}

                    </div>

                    {# Colonne liste attribution #}
                    {% if index is defined %}

                        <div class="col-7 col-arcoffice col-arc-editer col-visite">

                            <div class="form-title d-flex align-items-center">Liste des traitements : n° {{ index + 1 }}/{{ count }}

                                <div class="ml-auto mr-1">
                         
                                    {# Prec #}
                                    {% if prev != null %}

                                        <a title="Précédent" class="btn btn-sm btn-outline-primary title-tooltip" href="{{ path('editTraitement', { id: prev.id }) }}">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                        </a>

                                    {% endif %}

                                    {# Suiv #}
                                    {% if next != null %}

                                        <a title='Suivant' class='btn btn-sm btn-outline-primary title-tooltip' href="{{ path('editTraitement', { id: next.id }) }}">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </a>

                                    {% endif %}
                                    
                                    {# Add #}
                                    <a title='Ajouter un traitement' class='btn btn-sm btn-outline-success title-tooltip' href="{{ path("addTraitement", { id: form.vars.value.inclusion.id }) }}">
                                       <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>

                                    {# Retour Fiche patient#}
                                    {% if form.vars.value.inclusion.patient.id is defined %}
                                            
                                       {% set patient = form.vars.value.inclusion.patient %}

                                        <a title='Retour fiche patient' class="btn btn-sm btn-outline-info title-tooltip" href="{{ path("patient", { id: patient.id }) }}">
                                            <i class="fa fa-user"></i> <span>{{ patient.nomPrenom }}</span>
                                        </a>

                                    {% endif %}

                                </div>

    						 </div>

                            {# Tableau attribution#}
                            {% if allTraitements is defined %}

                                <table class="table table-sm table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Attribution</th>
                                        <th scope="col">Date Prise</th>
                                        <th scope="col">Traitement</th>
                                        <th scope="col">N°/ Lot</th>
                                        <th scope="col">Nombre/ Quantité</th>
                                        <th scope="col">Date retour</th>
                                        <th scope="col">Reste</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for traitement in allTraitements %}
                                        <tr {% if traitement.id == form.vars.value.id %}class="is-active"{% endif %}>
                                            <td scope="row">
                                                <a href="{{ path("editTraitement", {id: traitement.id}) }}">
                                                    {{ traitement.attributionAt|date("d/m/Y") }}
                                                </a>
                                            </td>
                                            <td>
                                                {{ (traitement.priseAt != null) ? traitement.priseAt|date("d/m/Y") : '' }}
                                            </td>
                                            <td>
                                                {{ traitement.traitement }}
                                            </td>
                                            <td>
                                                {{ traitement.numLot }}
                                            </td>
                                            <td>
                                                {{ traitement.nombre }}
                                            </td>
                                            <td>
                                                {{ (traitement.retourAt != null) ? traitement.retourAt|date("d/m/Y") : '' }}
                                            </td>
                                            <td>
                                                {{ traitement.nombreRetour }}
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}

                        </div>

                    {% endif %}
                </div>

            </div>

        </section>

    {% endblock content %}

    {% block javascripts %}

        {{ parent() }}

        <script>
            $(function () {
                $(document).on("change", "#appbundle_traitement_retour", function (e) {
                    e.preventDefault();
                    var retour = $(this).val();
                    if (retour !== "1") {
                        $(".retour-input").attr("disabled", "disabled").val(null);
                        $('#retour-input').hide();
                    } else {
                        $(".retour-input").removeAttr("disabled");
                        $('#retour-input').show();
                    }
                });
                $('#appbundle_traitement_retour').trigger("change");

            });
        </script>

    {% endblock javascripts %}
