{% extends 'base.html.twig' %}
	
	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}

                Liste des Arcs - ArcOffice

            {% endblock seo_title %}

            {# Description #}
            {% block seo_description %}

                Gestion des Arcs

            {% endblock seo_description %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-liste{% endblock %}

	{# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : 'Arcs' } %}

            {% block fil_ariane_more %}

                <div class="ml-auto d-flex">

                    <a class="btn btn-sm btn-outline-primary mr-3" href="{{ path('addArc') }}">

                        Ajouter <i class="fa fa-plus ml-1"></i>

                    </a>

                    {# Barre de recherche #}
                    <form id="recherche" class="form-inline ml-auto">

                        <div class="arcoffice-count">

                            {{ arcs.getTotalItemCount }} ARC(s) trouvé(s)

                        </div>

                        <input class="search liste-arcs-recherche form-control form-control-sm mr-2" autocomplete="off"
                               type="text" id='input-recherche' value='{{ app.request.get("recherche") }}'
                               name="recherche" placeholder="Rechercher un ARC" aria-label="Rechercher un arc">

                        <button class="btn btn-violet btn-sm" @click.prevent="search" type="submit">

                            <i class="fa fa-search" aria-hidden="true"></i>

                        </button>

                    </form>

                </div>

            {% endblock fil_ariane_more %}

        {% endembed %}

    {% endblock fil_ariane %}
	
	{% block content %}

        {# Section Principale #}
        <section class="section-main">

            <div class="container">

                <div class="row">

                    <h4 class="text-center">Liste des ARC(s)</h4>

                    {# Liste des Arcs #}
                    <table class="table table-sm table-striped table-hover table-responsive">

                        <thead>

                        <tr>

                            <th class="{% if arcs.isSorted('a.nom') %}sorted{% endif %}" data-sort="arc">

                                {{ knp_pagination_sortable(arcs, 'Nom ARC', ['a.nomArc']) }}

                            </th>

                            <th class="{% if arcs.isSorted('a.dect') %}sorted{% endif %}" data-sort="dect">

                                {{ knp_pagination_sortable(arcs, 'DECT', ['a.dect']) }}

                            </th>

                            <th class="{% if arcs.isSorted('a.tel') %}sorted{% endif %}" data-sort="tel">

                                {{ knp_pagination_sortable(arcs, 'Téléphone', ['a.tel']) }}

                            </th>

                            <th class="{% if arcs.isSorted('a.mail') %}sorted{% endif %}" data-sort="email">

                                {{ knp_pagination_sortable(arcs, 'Adresse Email', ['a.mail']) }}

                            </th>

                            <th class="{% if arcs.isSorted('a.iniArc') %}sorted{% endif %}" data-sort="iniArc">

                                {{ knp_pagination_sortable(arcs, 'Initial', ['a.iniArc']) }}

                            </th>

                            {#
                            <th class="{% if arcs.isSorted('a.droit') %}sorted{% endif %}" data-sort="droit">

                                {{ knp_pagination_sortable(arcs, 'Droit', ['a.droit']) }}

                            </th>
                            #}

                        </tr>

                        </thead>

                        <tbody class="list">

                        {% for arc in arcs %}

                            <tr>

                                <td class="arc">

                                    <a href="{{ path("editArc", { id: arc.id }) }}">

                                        {{ arc.nomArc }}

                                    </a>

                                </td>

                                <td>{{ arc.dect }}

                                </td>

                                <td>

                                    <a href="tel:{{ arc.tel }}">

                                        {{ arc.tel }}

                                    </a>

                                </td>

                                <td>

                                    <a href="mailto:{{ arc.mail }}">

                                        {{ arc.mail }}

                                    </a>

                                </td>

                                <td>{{ arc.iniArc }}

                                </td>

                                {#<td>

                                    {% if arc.droit == 'Admin' %}

                                        <div class="arcoffice-admin">

                                            {{ arc.droit }} <i class="fa fa-star"></i>

                                        </div>

                                    {% else %}

                                        {{ arc.droit }}

                                    {% endif %}

                                </td>#}

                            </tr>

                        {% endfor %}

                        </tbody>

                    </table>

                    {# Pagination #}
                    {{ knp_pagination_render(arcs) }}

                </div>

            </div>

        </section>

    {% endblock content %}