{% extends 'base.html.twig' %}
	
	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}

                Graphiques - ArcOffice

            {% endblock seo_title %}

            {# Description #}
            {% block seo_description %}

                Graphiques

            {% endblock seo_description %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-graphique arcoffice-coherence-data{% endblock %}

	{# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : 'Analyse graphique' } %}{% endembed %}

    {% endblock fil_ariane %}

	{% block content %}

        {# taille de la div #}
        <section class="section-main section-no-border">

            <div class="container">


                {# Filtre par date ----------------------------------------------------------------------------------------------------------#}

                <div class="row border-0 py-3 d-flex justify-content-center">

                    <div class="col-6">

                        <form method="POST">

                            <div class="form-row form-group mb-0">

                                <p class="form-lead mr-2 mb-0 d-flex align-items-center">Intervalle de Dates :</p>

                                <label class="col-form-label text-right" for="dateDebut">Début</label>

                                <div class="col">

                                    <input name='dateDebut'
                                           type='text'
                                           autocomplete="off"
                                           class='form-control form-control-sm js-datepicker'
                                           id="dateDebut"
                                           value={{ app.request.get("dateDebut") }}>

                                </div>

                                <label class="col-form-label text-right" for="dateFin">Fin</label>

                                <div class="col">

                                    <input name='dateFin'
                                           type='text'
                                           autocomplete="off"
                                           class='form-control form-control-sm js-datepicker'
                                           id="dateFin"
                                           value={{ app.request.get("dateFin") }}>

                                </div>

                                <button class="btn btn-primary btn-sm ml-2" type="submit">

                                    <i class="fa fa-search" aria-hidden="true"></i>

                                </button>

                            </div>

                        </form>

                    </div>

                </div>

                <div class="row">

                    <!-- Nav tabs - Onglets-->
                    <ul class="nav nav-tabs w-100" role="tablist">

                        <li class="nav-item"><!--1-->
                            <a class="nav-link active d-flex" data-toggle="tab" href="#inclusion-protocole-mois" role="tab"
                               aria-selected="true"><i class="fa fa-folder-open  mr-2"></i>Inc/Prot/mois</a>
                        </li>

                        <li class="nav-item"><!--2-->
                            <a class="nav-link d-flex" data-toggle="tab" href="#inclusion-medecin-mois" role="tab"
                               aria-selected="true"><i class="fa fa-user-md mr-2" aria-hidden="true"></i>Inc/Med/mois
                            </a>
                        </li>

                        <li class="nav-item"><!--2-->
                            <a class="nav-link d-flex" data-toggle="tab" href="#inclusion-arc-mois" role="tab"
                               aria-selected="true"><i class="fa fa-user-md mr-2" aria-hidden="true"></i>Inc/Arc/mois
                            </a>
                        </li>

                        <li class="nav-item"><!--3-->
                            <a class="nav-link d-flex" data-toggle="tab" href="#visites" role="tab"
                               aria-selected="true"><i class="fa fa-users mr-2" aria-hidden="true"></i>Visites</a>
                        </li>

                        <li class="nav-item"><!--4-->
                            <a class="nav-link d-flex" data-toggle="tab" href="#inclusion-service-cumule" role="tab"
                               aria-selected="true"><i class="fa fa-sitemap mr-2"></i>Cumul service</a>
                        </li>

                        <li class="nav-item"><!--5-->
                            <a class="nav-link d-flex" data-toggle="tab" href="#total-inclusions-medecin" role="tab"
                               aria-selected="true">&#931 <i class="fa fa-user-md ml-2"></i></a>
                        </li>

                        <li class="nav-item"><!--6-->
                            <a class="nav-link d-flex" data-toggle="tab" href="#total-inclusions-ans" role="tab"
                               aria-selected="true">&#931<i class="fa fa-hourglass-half ml-2"
                                                            aria-hidden="true"></i></a>
                        </li>

                    </ul>

                    <!-- Nav tabs- Fin des onglets -->
                    <div class="tab-content w-100">
                        {# Onglet 1-----------#}
                        {# Graphique 1 ( canvas3) ---------------------Inclusion par protocole / mois entre D1 et ----------------------------------------------------------------------------#}

                        <div class="tab-pane active" id="inclusion-protocole-mois" role="tabpanel" aria-labelledby="inclusion-protocole-mois"
                             aria-expanded="true">

                            {% if inclusionsByMounthProtocole %}

                                <div class="arcoffice-graphique-sub">

                                    <h2><i class="fa fa-bar-chart ml-2"></i> Inclusion par protocole / mois
                                        <small> du {{ debut|date('d/m/Y') }} au {{ fin|date('d/m/Y') }}</small>
                                    </h2>
                                    <p><i class=" ml-2"></i>Inclusions mensuelles, entre date 1 et date 2, par protocole
                                        ( en nombre d'inclusions confirmés, basé sur la date d'inclusion, hors screen et
                                        false sceen )</p>

                                    <div class="w-75 ml-auto ml-auto mr-auto">

                                        <canvas id="canvas3"></canvas>

                                    </div>

                                </div>
                            {% endif %}

                            {# Graphique 5 (Canvas 7---------------Inclusion Protocoles cumulées -entre D1 et D2----------------------------------------------------------------#}

                            {% if inclusionsByProtocole %}
                                <div class="arcoffice-graphique-sub">

                                    <h2><i class="fa fa-bar-chart"></i> Inclusions par Protocole, cumulées entre deux
                                        dates
                                        <small> du {{ debut|date('d/m/Y') }} au {{ fin|date('d/m/Y') }}</small>
                                    </h2>

                                    <div class="w-75 ml-auto ml-auto mr-auto">
                                        <canvas id="canvas7"></canvas>
                                    </div>

                                </div>
                            {% endif %}

                        </div>


                        {# Onglet 2-----------#}

                        {# Graphique 2 ( canvas2)-------------------Inclusion par médecin / mois -entre D1 et D2---------------------------------------------------------------------#}


                        <div class="tab-pane" id="inclusion-medecin-mois" role="tabpanel" aria-labelledby="inclusion-medecin-mois"
                             aria-expanded="true">

                            {% if inclusionsByMounthMedecin %}

                                <div class="arcoffice-graphique-sub">

                                    <h2><i class="fa fa-bar-chart"></i> Inclusion par médecin / mois
                                        <small> du {{ debut|date('d/m/Y') }} au {{ fin|date('d/m/Y') }}</small>
                                    </h2>

                                    <p>Les inclusions mensuelles, entre T1 et T2, par médecin ( en nombre
                                        d'inclusion-médecin référent )</p>

                                    <div class="w-75 ml-auto ml-auto mr-auto">

                                        <canvas id="canvas2"></canvas>

                                    </div>

                                </div>

                            {% endif %}



                            {# Graphique 4 (Canvas 6---------------Inclusion medecin cumulées -entre D1 et D2----------------------------------------------------------------#}


                            {% if inclusionsMedecin %}

                                <div class="arcoffice-graphique-sub">

                                    <h2><i class="fa fa-bar-chart"></i> Inclusions par médecin, cumulées entre deux
                                        dates
                                        <small> du {{ debut|date('d/m/Y') }} au {{ fin|date('d/m/Y') }}</small>
                                    </h2>

                                    <div class="w-75 ml-auto ml-auto mr-auto">

                                        <canvas id="canvas6"></canvas>

                                    </div>

                                </div>

                            {% endif %}

                        </div>


                        <div class="tab-pane" id="inclusion-arc-mois" role="tabpanel" aria-labelledby="inclusion-arc-mois"
                             aria-expanded="true">

                            {% if inclusionsByMounthArc %}

                                <div class="arcoffice-graphique-sub">

                                    <h2><i class="fa fa-bar-chart"></i> Inclusion par Arc / mois
                                        <small> du {{ debut|date('d/m/Y') }} au {{ fin|date('d/m/Y') }}</small>
                                    </h2>

                                    <p>Les inclusions mensuelles, entre T1 et T2, par Arc</p>

                                    <div class="w-75 ml-auto ml-auto mr-auto">

                                        <canvas id="canvas9"></canvas>

                                    </div>

                                </div>

                            {% endif %}

                            {% if inclusionsArc %}

                                <div class="arcoffice-graphique-sub">

                                    <h2><i class="fa fa-bar-chart"></i> Inclusions par arc, cumulées entre deux
                                        dates
                                        <small> du {{ debut|date('d/m/Y') }} au {{ fin|date('d/m/Y') }}</small>
                                    </h2>

                                    <div class="w-75 ml-auto ml-auto mr-auto">

                                        <canvas id="canvas11"></canvas>

                                    </div>

                                </div>

                            {% endif %}

                        </div>


                        {# Onglet 3-----------#}
                        {# Graphique 3 ( canvas4)-------------------Visites par protocole / mois -entre D1 et D2--------------------------------------------------------------#}

                        <div class="tab-pane" id="visites" role="tabpanel" aria-labelledby="visites"
                             aria-expanded="true">


                            {% if visiteByMounthProtocole %}
                                <div class="arcoffice-graphique-sub">

                                    <h2><i class="fa fa-bar-chart"></i> Visites par protocole / mois
                                        <small> du {{ debut|date('d/m/Y') }} au {{ fin|date('d/m/Y') }}</small>
                                    </h2>

                                    <div class="w-75 ml-auto ml-auto mr-auto">

                                        <canvas id="canvas4"></canvas>

                                    </div>

                                </div>
                            {% endif %}

                            {% if visiteByMounthArc %}
                                <div class="arcoffice-graphique-sub">

                                    <h2><i class="fa fa-bar-chart"></i> Visites par Arc / mois
                                        <small> du {{ debut|date('d/m/Y') }} au {{ fin|date('d/m/Y') }}</small>
                                    </h2>

                                    <div class="w-75 ml-auto ml-auto mr-auto">

                                        <canvas id="canvas10"></canvas>

                                    </div>

                                </div>
                            {% endif %}

                        </div>

                        {# Onglet 4-----------#}
                        {# Graphique 6 (Canvas 5---------------Inclusion service cumulées -entre D1 et D2----------------------------------------------------------------#}


                        <div class="tab-pane" id="inclusion-service-cumule" role="tabpanel" aria-labelledby="inclusion-service-cumule"
                             aria-expanded="true">


                            {% if inclusionsService %}
                                <div class="arcoffice-graphique-sub">

                                    <h2><i class="fa fa-bar-chart"></i> Inclusions par Service, cumulées entre deux
                                        dates
                                        <small> du {{ debut|date('d/m/Y') }} au {{ fin|date('d/m/Y') }}</small>
                                    </h2>

                                    <div class="w-75 ml-auto ml-auto mr-auto">

                                        <canvas id="canvas5"></canvas>

                                    </div>

                                </div>
                            {% endif %}

                        </div>

                        {# Onglet 5-----------#}
                        {# Graphique 7 (Canvas 1--------------Inclusions Totals médecins----------------------------------------------------------------#}


                        <div class="tab-pane" id="total-inclusions-medecin" role="tabpanel" aria-labelledby="total-inclusions-medecin"
                             aria-expanded="true">


                            <div class="arcoffice-graphique-sub">

                                <h2><i class="fa fa-bar-chart"></i> Total des Inclusions par médecin</h2>

                                <p>L'activité globale en Recherche clinique par médecin (nombre d'inclusions dans la
                                    base pour lesquelles le médecin est responsable).</p>

                                <div class="w-75 ml-auto ml-auto mr-auto">

                                    <canvas id="canvas1"></canvas>

                                </div>

                            </div>

                        </div>

                        {# Onglet 6-----------#}
                        {# Graphique 8 (Canvas 8---------------Inclusions annuelles ----------------------------------------------------------------#}


                        <div class="tab-pane" id="total-inclusions-ans" role="tabpanel" aria-labelledby="total-inclusions-ans"
                             aria-expanded="true">


                            <div class="arcoffice-graphique-sub">

                                <h2><i class="fa fa-bar-chart"></i> Total des Inclusions par années</h2>

                                <p></p>

                                <div class="w-75 ml-auto ml-auto mr-auto">

                                    <canvas id="canvas8"></canvas>

                                </div>

                            </div>


                        </div>


                    </div>

                </div>


                {# End HTML section----------------------------------------------------------------------------------------------------------#}

            </div>

        </section>

    {% endblock content %}

{# Bloc JS ----------------------------------------------------------------------------------------------------------#}

	{% block javascripts %}

        {{ parent() }}

        <script>

            $(function () {

                $('.js-datepicker').datepicker({format: 'dd/mm/yyyy', language: 'fr', todayHighlight: true});
                moment.locale("fr");

                var default_colors = [
                    'rgba(255, 99, 132, 0.5)',// rose
                    'rgba(54, 162, 235, 0.5)',// bleu clair
                    'rgba(255, 206, 86, 0.5)',// jaune Or
                    'rgba(64, 182, 155, 0.5)',// Bleu vert
                    'rgba(153, 102, 255, 0.5)',// Violet Lilas
                    'rgba(255, 159, 64, 0.5)', // Orange clair
                    'rgba(51, 204, 51,0.5)',// Vert
                    'rgba(200, 50, 150, 0.5)',// Rose- Violet
                    'rgba(255, 51, 0, 0.5)',// Orange-Rouge
                    'rgba(100, 100, 100, 0.5)',// gris
                    'rgba(255, 0, 0, 0.5)',  // Rouge
                    'rgba(204, 0, 255, 0.5)',// Violet
                    'rgba(225, 125, 132, 0.5)',// Rose chair
                    'rgba(25, 75, 150, 0.5)',// Bleu roy
                    'rgba(200, 150, 25, 0.5)',// Jaune tournesol
                    'rgba(150, 45, 255, 0.5)',  // Violet
                    'rgba(0, 102, 0, 0.5)',// vert sombre
                    'rgba(81, 38, 15, 0.5)',// Marron
                    'rgba(110, 220, 200, 0.5)',// bleu ciel
                    'rgba(255, 0, 0, 0.5)',  // Rouge
                    'rgba(82, 200, 120, 0.5)',// vert clair
                    'rgba(255, 99, 132, 0.9)',// rose
                    'rgba(54, 162, 235, 0.9)',// bleu clair
                    'rgba(255, 206, 86, 0.9)',// jaune Or
                    'rgba(64, 182, 155, 0.9)',// Bleu vert
                    'rgba(153, 102, 255, 0.9)',// Violet Lilas
                    'rgba(255, 159, 64, 0.9)', // Orange clair
                    'rgba(51, 204, 51,0.9)',// Vert
                    'rgba(200, 50, 150, 0.9)',// Rose- Violet
                    'rgba(255, 51, 0, 0.9)',// Orange-Rouge
                    'rgba(100, 100, 100, 0.9)',// gris
                    'rgba(255, 0, 0, 0.9)',  // Rouge
                    'rgba(204, 0, 255, 0.9)',// Violet
                    'rgba(225, 125, 132, 0.9)',// Rose chair
                    'rgba(25, 75, 150, 0.9)',// Bleu roy
                    'rgba(200, 150, 25, 0.9)',// Jaune tournesol
                    'rgba(150, 45, 255, 0.9)',  // Violet
                    'rgba(0, 102, 0, 0.9)',// vert sombre
                    'rgba(81, 38, 15, 0.9)',// Marron
                    'rgba(110, 220, 200, 0.9)',// bleu ciel
                    'rgba(255, 0, 0, 0.9)',  // Rouge
                    'rgba(82, 200, 120, 0.9)'// vert clair
                ];

                function colors(nb) {

                    var colors = [];
                    for (var i = 0; i < nb; i++) {
                        colors.push(default_colors[i % default_colors.length])
                    }
                    return colors;
                }

// INCLUSIONS GLOBALES PAR MEDECIN: --------------------------------------------------------------------------------------------------------------				
                {% if inclusionMedecin %}

                var ctx = document.getElementById("canvas1").getContext("2d");

                new Chart(ctx, {
                    responsive: true,
                    type: 'bar',
                    data: {
                        labels: {{ inclusionMedecin|keys|json_encode|raw }},
                        datasets: [{
                            backgroundColor: colors({{ inclusionMedecin|values|length }}), // Put the gradient here as a fill color
                            strokeColor: "#ff6c23",
                            pointColor: "#fff",
                            pointStrokeColor: "#ff6c23",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "#ff6c23",
                            label: "Nombre d'inclusion(s) ",
                            data: {{ inclusionMedecin|values|json_encode|raw }},
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                ticks: {
                                    autoSkip: false
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    stepSize: 10,
                                    beginAtZero: true
                                }
                            }]
                        },
                        legend: {
                            display: false

                        },
                        title: {
                            display: false,
                            text: "Nombre d'inclusion par médecin dans la base"
                        }
                    }

                });

                {% endif %}

// INCLUSIONS  PAR MEDECIN/ MOIS/ de T1 à T2: --------------------------------------------------------------------------------------------------------------				    
                {% if inclusionsByMounthMedecin %}

                var datasets = [];
                var i = 0;
                $.each({{ inclusionsByMounthMedecin|json_encode|raw }}, function (index, val) {
                    var data = [];

                    $.each(val, function (i2, v2) {
                        data.push(
                            {x: new Date(parseInt(v2.year), parseInt(v2.month) - 1), y: v2.nb}
                        )
                    });

                    datasets.push(
                        {
                            backgroundColor: default_colors[i % default_colors.length], // Put the gradient here as a fill color
                            strokeColor: "#ff6c23",
                            pointColor: "#fff",
                            pointStrokeColor: "#ff6c23",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "#ff6c23",
                            label: index + ' ',
                            data: data,
                            borderWidth: 1
                        }
                    );

                    i++;

                });

                var ctx2 = document.getElementById("canvas2").getContext("2d");

                new Chart(ctx2, {
                    responsive: true,
                    type: 'bar',
                    data: {
                        datasets: datasets
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                stacked: true,
                                distribution: 'linear',
                                time: {
                                    unit: 'month',
                                    format: 'timeFormat',
                                    tooltipFormat: 'MMM YYYY',
                                    unitStepSize: 1,
                                    round: 'month'
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    stepSize: 5,
                                    beginAtZero: true
                                },
                                stacked: true
                            }]
                        },
                        tooltips: {
                            mode: 'single',
                            mode: 'single',
                            intersect: true,
                            filter: function (tooltipItem) {
                                return !tooltipItem.yLabel == 0; // custom added prop to dataset
                            }
                        }
                    }
                });

                {% endif %}

// INCLUSIONS  PAR MEDECIN/ MOIS/ de T1 à T2: --------------------------------------------------------------------------------------------------------------
                {% if inclusionsByMounthArc %}

                var datasets = [];
                var i = 0;
                $.each({{ inclusionsByMounthArc|json_encode|raw }}, function (index, val) {
                    var data = [];

                    $.each(val, function (i2, v2) {
                        data.push(
                            {x: new Date(parseInt(v2.year), parseInt(v2.month) - 1), y: v2.nb}
                        )
                    });

                    datasets.push(
                        {
                            backgroundColor: default_colors[i % default_colors.length], // Put the gradient here as a fill color
                            strokeColor: "#ff6c23",
                            pointColor: "#fff",
                            pointStrokeColor: "#ff6c23",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "#ff6c23",
                            label: index + ' ',
                            data: data,
                            borderWidth: 1
                        }
                    );

                    i++;

                });

                var ctx9 = document.getElementById("canvas9").getContext("2d");

                new Chart(ctx9, {
                    responsive: true,
                    type: 'bar',
                    data: {
                        datasets: datasets
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                stacked: true,
                                distribution: 'linear',
                                time: {
                                    unit: 'month',
                                    format: 'timeFormat',
                                    tooltipFormat: 'MMM YYYY',
                                    unitStepSize: 1,
                                    round: 'month'
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    stepSize: 5,
                                    beginAtZero: true
                                },
                                stacked: true
                            }]
                        },
                        tooltips: {
                            mode: 'single',
                            mode: 'single',
                            intersect: true,
                            filter: function (tooltipItem) {
                                return !tooltipItem.yLabel == 0; // custom added prop to dataset
                            }
                        }
                    }
                });

                {% endif %}

// INCLUSIONS PAR ESSAIS / MOIS de T1 à T2: --------------------------------------------------------------------------------------------------------------			   
                {% if inclusionsByMounthProtocole %}

                var datasets = [];
                var i = 0;
                $.each({{ inclusionsByMounthProtocole|json_encode|raw }}, function (index, val) {
                    var data = [];

                    $.each(val, function (i2, v2) {
                        data.push(
                            {x: new Date(parseInt(v2.year), parseInt(v2.month) - 1), y: v2.nb}
                        )
                    });

                    datasets.push(
                        {
                            backgroundColor: default_colors[i % default_colors.length], // Put the gradient here as a fill color
                            strokeColor: "#ff6c23",
                            pointColor: "#fff",
                            pointStrokeColor: "#ff6c23",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "#ff6c23",
                            label: index + ' ',
                            data: data,
                            borderWidth: 1
                        }
                    );

                    i++;

                });

                var ctx3 = document.getElementById("canvas3").getContext("2d");

                new Chart(ctx3, {
                    responsive: true,
                    type: 'bar',
                    data: {
                        datasets: datasets
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                stacked: true,
                                distribution: 'linear',
                                time: {
                                    unit: 'month',
                                    format: 'timeFormat',
                                    tooltipFormat: 'MMM YYYY',
                                    unitStepSize: 1,
                                    round: 'month'
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    stepSize: 5,
                                    beginAtZero: true
                                },
                                stacked: true
                            }]
                        },
                        tooltips: {
                            mode: 'single',
                            intersect: true,
                            filter: function (tooltipItem, data) {
                                return !tooltipItem.yLabel == 0; // custom added prop to dataset
                            }
                        }
                    }
                });

                {% endif %}

// INCLUSIONS PAR visites / MOIS de T1 à T2: --------------------------------------------------------------------------------------------------------------
                {% if visiteByMounthProtocole %}

                var datasets = [];
                var i = 0;
                $.each({{ visiteByMounthProtocole|json_encode|raw }}, function (index, val) {
                    var data = [];

                    $.each(val, function (i2, v2) {
                        data.push(
                            {x: new Date(parseInt(v2.year), parseInt(v2.month) - 1), y: v2.nb}
                        )
                    });

                    datasets.push(
                        {
                            backgroundColor: default_colors[i % default_colors.length], // Put the gradient here as a fill color
                            strokeColor: "#ff6c23",
                            pointColor: "#fff",
                            pointStrokeColor: "#ff6c23",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "#ff6c23",
                            label: index + ' ',
                            data: data,
                            borderWidth: 1
                        }
                    );

                    i++;

                });

                var ctx4 = document.getElementById("canvas4").getContext("2d");

                new Chart(ctx4, {
                    responsive: true,
                    type: 'bar',
                    data: {
                        datasets: datasets
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                stacked: true,
                                distribution: 'linear',
                                time: {
                                    unit: 'month',
                                    format: 'timeFormat',
                                    tooltipFormat: 'MMM YYYY',
                                    unitStepSize: 1,
                                    round: 'month'
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    stepSize: 5,
                                    beginAtZero: true
                                },
                                stacked: true
                            }]
                        },
                        tooltips: {
                            mode: 'single',
                            intersect: true,
                            filter: function (tooltipItem, data) {
                                return !tooltipItem.yLabel == 0; // custom added prop to dataset
                            }
                        }
                    }
                });

                {% endif %}

// Arc PAR visites / MOIS de T1 à T2: --------------------------------------------------------------------------------------------------------------
                {% if visiteByMounthArc %}

                var datasets = [];
                var i = 0;
                $.each({{ visiteByMounthArc|json_encode|raw }}, function (index, val) {
                    var data = [];

                    $.each(val, function (i2, v2) {
                        data.push(
                            {x: new Date(parseInt(v2.year), parseInt(v2.month) - 1), y: v2.nb}
                        )
                    });

                    datasets.push(
                        {
                            backgroundColor: default_colors[i % default_colors.length], // Put the gradient here as a fill color
                            strokeColor: "#ff6c23",
                            pointColor: "#fff",
                            pointStrokeColor: "#ff6c23",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "#ff6c23",
                            label: index + ' ',
                            data: data,
                            borderWidth: 1
                        }
                    );

                    i++;

                });

                var ctx10 = document.getElementById("canvas10").getContext("2d");

                new Chart(ctx10, {
                    responsive: true,
                    type: 'bar',
                    data: {
                        datasets: datasets
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                stacked: true,
                                distribution: 'linear',
                                time: {
                                    unit: 'month',
                                    format: 'timeFormat',
                                    tooltipFormat: 'MMM YYYY',
                                    unitStepSize: 1,
                                    round: 'month'
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    stepSize: 5,
                                    beginAtZero: true
                                },
                                stacked: true
                            }]
                        },
                        tooltips: {
                            mode: 'single',
                            intersect: true,
                            filter: function (tooltipItem, data) {
                                return !tooltipItem.yLabel == 0; // custom added prop to dataset
                            }
                        }
                    }
                });

                {% endif %}

// INCLUSIONS PAR centre / MOIS de T1 à T2: --------------------------------------------------------------------------------------------------------------
                {% if inclusionsService %}

                var datasets = [];
                var labels = [];
                var backgroundColor = [];

                var i = 0;
                $.each({{ inclusionsService|json_encode|raw }}, function (index, val) {

                    datasets.push(parseInt(val.nb));
                    labels.push(val.serviceNom);
                    backgroundColor.push(default_colors[i % default_colors.length]);
                    i++;


                });

                data = {
                    datasets: [{
                        data: datasets,
                        backgroundColor: backgroundColor
                    }],
                    labels: labels
                };

                var ctx5 = document.getElementById("canvas5").getContext("2d");

                new Chart(ctx5, {
                    type: 'pie',
                    data: data,
                    options: {
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var label = data.labels[tooltipItem.index] || '';

                                    if (label) {
                                        label += ' : ';
                                    }
                                    label += Math.round(data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] * 100) / 100 + ' inclusions';
                                    var sum = data.datasets[tooltipItem.datasetIndex].data.reduce(function (sum, dataset) {
                                        return sum + dataset;
                                    }, 0);
                                    var percent = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] / sum * 100;
                                    percent = percent.toFixed(0); // make a nice string
                                    return label + ' (' + percent + ' %)';
                                }
                            }
                        }
                    }
                });

                {% endif %}

// INCLUSIONS PAR Medecin / MOIS de T1 à T2: --------------------------------------------------------------------------------------------------------------
                {% if inclusionsArc %}

                var datasets = [];
                var labels = [];
                var backgroundColor = [];

                var i = 0;
                $.each({{ inclusionsArc|json_encode|raw }}, function (index, val) {

                    datasets.push(parseInt(val));
                    labels.push(index);
                    backgroundColor.push(default_colors[i % default_colors.length]);
                    i++;


                });

                data = {
                    datasets: [{
                        data: datasets,
                        backgroundColor: backgroundColor
                    }],
                    labels: labels
                };

                var ctx11 = document.getElementById("canvas11").getContext("2d");

                new Chart(ctx11, {
                    type: 'pie',
                    data: data,
                    options: {
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var label = data.labels[tooltipItem.index] || '';

                                    if (label) {
                                        label += ' : ';
                                    }
                                    label += Math.round(data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] * 100) / 100 + ' inclusions';
                                    var sum = data.datasets[tooltipItem.datasetIndex].data.reduce(function (sum, dataset) {
                                        return sum + dataset;
                                    }, 0);
                                    var percent = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] / sum * 100;
                                    percent = percent.toFixed(0); // make a nice string
                                    return label + ' (' + percent + ' %)';
                                }
                            }
                        }
                    }
                });

                {% endif %}

                // INCLUSIONS PAR Medecin / MOIS de T1 à T2: --------------------------------------------------------------------------------------------------------------
                {% if inclusionsMedecin %}

                var datasets = [];
                var labels = [];
                var backgroundColor = [];

                var i = 0;
                $.each({{ inclusionsMedecin|json_encode|raw }}, function (index, val) {

                    datasets.push(parseInt(val));
                    labels.push(index);
                    backgroundColor.push(default_colors[i % default_colors.length]);
                    i++;


                });

                data = {
                    datasets: [{
                        data: datasets,
                        backgroundColor: backgroundColor
                    }],
                    labels: labels
                };

                var ctx6 = document.getElementById("canvas6").getContext("2d");

                new Chart(ctx6, {
                    type: 'pie',
                    data: data,
                    options: {
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var label = data.labels[tooltipItem.index] || '';

                                    if (label) {
                                        label += ' : ';
                                    }
                                    label += Math.round(data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] * 100) / 100 + ' inclusions';
                                    var sum = data.datasets[tooltipItem.datasetIndex].data.reduce(function (sum, dataset) {
                                        return sum + dataset;
                                    }, 0);
                                    var percent = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] / sum * 100;
                                    percent = percent.toFixed(0); // make a nice string
                                    return label + ' (' + percent + ' %)';
                                }
                            }
                        }
                    }
                });

                {% endif %}

// INCLUSIONS PAR Medecin / MOIS de T1 à T2: --------------------------------------------------------------------------------------------------------------
                {% if inclusionsByProtocole %}

                var datasets = [];
                var labels = [];
                var backgroundColor = [];

                var i = 0;
                $.each({{ inclusionsByProtocole|json_encode|raw }}, function (index, val) {

                    datasets.push(parseInt(val.nb));
                    labels.push(val.protocoleNom);
                    backgroundColor.push(default_colors[i % default_colors.length]);
                    i++;


                });

                data = {
                    datasets: [{
                        data: datasets,
                        backgroundColor: backgroundColor
                    }],
                    labels: labels
                };

                var ctx7 = document.getElementById("canvas7").getContext("2d");

                new Chart(ctx7, {
                    type: 'pie',
                    data: data,
                    options: {
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var label = data.labels[tooltipItem.index] || '';

                                    if (label) {
                                        label += ' : ';
                                    }
                                    label += Math.round(data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] * 100) / 100 + ' inclusions';
                                    var sum = data.datasets[tooltipItem.datasetIndex].data.reduce(function (sum, dataset) {
                                        return sum + dataset;
                                    }, 0);
                                    var percent = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] / sum * 100;
                                    percent = percent.toFixed(0); // make a nice string
                                    return label + ' (' + percent + ' %)';
                                }
                            }
                        }
                    }
                });

                {% endif %}

// INCLUSIONS ANNEE: --------------------------------------------------------------------------------------------------------------
                {% if inclusionByYear %}

                var datasets = [];
                var labels = [];
                var backgroundColor = [];

                var i = 0;
                $.each({{ inclusionByYear|json_encode|raw }}, function (index, val) {

                    datasets.push(parseInt(val.nb));
                    labels.push(val.year);
                    backgroundColor.push(default_colors[i % default_colors.length]);
                    i++;


                });

                data = {
                    datasets: [{
                        data: datasets,
                        backgroundColor: backgroundColor,
                        label: "Nombre d'inclusion(s) "
                    }],
                    labels: labels
                };

                var ctx8 = document.getElementById("canvas8").getContext("2d");

                new Chart(ctx8, {
                    type: 'bar',
                    data: data,
                    options: {
                        legend: {
                            display: false
                        }
                    }
                });

                {% endif %}
// Fin des graphes --------------------------------------------------------------------------------------------------------------

            });

        </script>

    {% endblock javascripts %}