{% extends 'base.html.twig' %}

	{# Variables #}
	{% if app.request.get("_route") == 'addEvent' %}

        {% set title_page = "Ajouter un nouveau event" %}
        {% set description_page = "Création d'un nouveau event" %}

    {% elseif app.request.get("_route") == 'editEvent' %}

        {% set title_page = "Editer " %}
        {% set description_page = "Édition du event" %}

    {% endif %}

	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}

                {{ title_page }} - ArcOffice

            {% endblock seo_title %}

            {# Description #}
            {% block seo_description %}

                {{ description_page }}

            {% endblock seo_description %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-edition{% endblock %}

    {# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : title_page } %}

            {% block fil_ariane_link %}

                <li class="breadcrumb-item d-flex align-items-center">

                    <a href="{{ path('listeEvents', {id: form.vars.value.inclusion.id }) }}">Events de
                        l'inclusion N° {{ form.vars.value.inclusion.numInc }}</a>

                </li>

            {% endblock %}

        {% endembed %}

    {% endblock fil_ariane %}

	{% block content %}

        {# Section Principale #}
        <section class="section-main">

            <div class="container">

                <div class="row">

                    {# Colonne Édition d'une event #}
                    <div class="col col-arcoffice col-arc-editer">

                        {{ form_start(form) }}

                        {% form_theme form 'form/submit.html.twig' %}

                        {# Titre + Boutons #}
                        <div class="form-title d-flex align-items-center">

                            {{ title_page }}

                            <div class="ml-auto mr-1">

                                {# Liste #}
                                {% if form.vars.value.id %}

                                    <a title='Liste des events'
                                       class='btn btn-sm btn-outline-primary title-tooltip'
                                       href="{{ path('listeEvents', {id: form.vars.value.inclusion.id }) }}">
                                        <i class="fa fa-list" aria-hidden="true"
                                        ></i>
                                    </a>

                                 {# Supprimer #}   

                                    {% include 'include/liste/btn-supprimer.html.twig' with {

                                        title : "Supprimer le event",
                                        route_delete : 'deleteEvent',
                                        route_liste : 'listeEvents',
                                        route_liste_param : {id: form.vars.value.inclusion.id},
                                        message: "Le event a été supprimée.",
                                        id: form.vars.value.id

                                    } %}

                                {% endif %}

                                {# Enregistrer #}

                                {{ form_widget(form.envoyer, {
                                    'fa' : 'fa-check',
                                    'right' : true,
                                    'label' : ' ',
                                    'attr': {
                                        'class': 'btn btn-sm btn-outline-success title-tooltip',
                                        'title': "Enregistrer le event"
                                    }
                                }) }}

                            </div>

                        </div>

                        {# Form attribution #}
                        <div class="form-row form-group">

                            {# date att #}
                            <div class="col">
                                {{ form_label(form.date) }}
                                {{ form_errors(form.date) }}
                                {{ form_widget(form.date, { 'attr': { 'class': 'form-control form-control-sm js-datepicker' } }) }}
                            </div>

                        </div>

                        <div class="form-row form-group">

                            <div class="col">
                                {{ form_label(form.titre) }}
                                {{ form_errors(form.titre) }}
                                {{ form_widget(form.titre, { 'attr': { 'class': 'form-control form-control-sm' } }) }}
                            </div>

                        </div>

                        <div class="form-row form-group">

                        <div class="col">
                            {{ form_label(form.detail) }}
                            {{ form_errors(form.detail) }}
                            {{ form_widget(form.detail, { 'attr': { 'class': 'form-control form-control-sm', "rows": 5  } }) }}
                        </div>

                        </div>

                        {{ form_end(form) }}

                    </div>

                    {# Colonne liste attribution #}
                    {% if index is defined %}
                    <div class="col-7 col-arcoffice col-arc-editer col-visite">

                        <div class="form-title d-flex align-items-center">Liste des events : n° {{ index + 1 }}/{{ count }}

                            <div class="ml-auto mr-1">
                     
                                {# Prec #}
                                {% if prev != null %}

                                    <a title="Précédent" class="btn btn-sm btn-outline-primary title-tooltip" href="{{ path('editEvent', { id: prev.id }) }}">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    </a>

                                {% endif %}

                                 {# Suiv #}
                                {% if next != null %}

                                    <a title='Suivant' class='btn btn-sm btn-outline-primary title-tooltip' href="{{ path('editEvent', { id: next.id }) }}">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </a>

                                {% endif %}
                                
                                {# Add #}
                                <a title='Ajouter un event' class='btn btn-sm btn-outline-success title-tooltip' href="{{ path("addEvent", { id: form.vars.value.inclusion.id }) }}">
                                   <i class="fa fa-plus" aria-hidden="true"></i>
                                </a>

                                {# Retour Fiche patient#}
                                {% if form.vars.value.inclusion.patient.id is defined %}
                                        
                                   {% set patient = form.vars.value.inclusion.patient %}

                                    <a class="btn btn-sm btn-outline-info" href="{{ path("patient", { id: patient.id }) }}">
                                        <i class="fa fa-user"></i> <span>{{ patient.nomPrenom }}</span>
                                    </a>

                                 {% endif %}

                            </div>

						 </div>

                        {# Tableau attribution#}
                        {% if allEvents is defined %}

                            <table class="table table-sm table-striped">
                                <thead>

                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Titre</th>
                                    </tr>

                                </thead>

                                <tbody>
                                {% for event in allEvents %}
                                    <tr {% if event.id == form.vars.value.id %}class="is-active"{% endif %}>
                                        <td scope="row">
                                            <a href="{{ path("editEvent", {id: event.id}) }}">
                                                {{ event.date|date("d/m/Y") }}
                                            </a>
                                        </td>
                                        <td>

                                            {{ event.titre }}

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                    </div>

                    {% endif %}
                </div>

            </div>

        </section>

    {% endblock content %}