{% extends 'base.html.twig' %}
	
	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}

                Mentions Légales - ArcOffice

            {% endblock seo_title %}

            {# Description #}
            {% block seo_description %}

                Mentions Légales - ArcOffice

            {% endblock seo_description %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-pages arcoffice-liste{% endblock %}

	{# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : 'Mentions Légales' } %}

            {% block fil_ariane_more %}

            {% endblock fil_ariane_more %}

        {% endembed %}

    {% endblock fil_ariane %}

	{% block content %}

        {# Section Principale #}
        <section class="section-main">

            <div class="container">

                <div class="row">

                    <h4 class="pl-3">Mentions Légales</h4>

                    <div class="col">

                        <h5>Éditeur</h5>

                        <p>ArcalyonWeb : Hervé Perrier - <a href="mailto:arcalyon.web@gmail.com">arcalyon.web@gmail.com</a>
                        </p>

                        <p>ArcOffice est un logiciel de gestion d'unité de recherche clinique permettant la documentation, la synthèse et l'analyse de l'activité de recherche clinique en milieu hospitalier. </p>

                        <h5>Droits d'auteurs</h5>

                        <p>L’ensemble du code informatique constitue une propriété intelectuelle et ne peut, soit en totalité soit en partie, etre copié, dupliqué ou modifié sans l'autorisation expresse de l'auteur.</p>

                        <h5>Confidentialité</h5>

                        <p>Toutes les personnes qui ont fourni des informations les concernant disposent d’un droit
                            d’accès, de modification de rectification et de suppression des données, selon l’article 34
                            de la loi « Informatique et Libertés » n° 78-17 du 16 janvier 1978). Pour exercer ce droit,
                            merci de vous adresser au gestonnaire local du logiciel ou aux administrateurs locaux du systeme</p>

                        <p>De part sa fonction, ArcOffice contient des informations médicales confidentielles. Il appartient aux utilisateurs de bien s'assurer des consentements patients et d'informer les patients de la possibilité de supprimerou d'anonymiser ces données, conformement aux recommandations CNIL et à la politique locale de l'établissement.
                            Les données  sont enregistrées en local sur le serveur de l'établissement et ArcalyonWeb ne serait etre tenu responsable du non respect de l'anonymat du patient et de la fuite de données Médicales, sous quelques formes que ce soit ( impression ecran, fichiers d'extraction, ou impression papier).</p>

                        <p> Pour des raisons de confidentialité médicale, Il est rappellé qu'aucune donnée nominative ou médicale n'est conservé hors de l'établissement par Arcalyonweb. En cas d'effacement accidentel de données, merci de vous addresser à votre administrateur systeme qui possède des sauvegardes regulières des bases de données.

                        
                        <p>Les messages que vous nous ferez parvenir par l’intermédiaire d’Internet peuvent être
                            interceptés sur le réseau. Jusqu’à ce qu’ils nous parviennent, leur confidentialité ne peut
                            être garantie. Assurez-vous de ne pas divulguer d’informations personnelles inutiles ou
                            sensibles. De plus, l’indication de la provenance des messages électroniques que nous
                            recevons peut être falsifiée. Par conséquent, si vous souhaitez nous communiquer de telles
                            informations, utilisez impérativement la voie postale.</p>
                        
                    </div>

                </div>

            </div>

        </section>

    {% endblock content %}