{% extends 'base.html.twig' %}
	
	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}

                Support - ArcOffice

            {% endblock seo_title %}

            {# Description #}
            {% block seo_description %}

                Support - ArcOffice

            {% endblock seo_description %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-pages arcoffice-liste{% endblock %}

	{# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : 'Support' } %}

            {% block fil_ariane_more %}

            {% endblock fil_ariane_more %}

        {% endembed %}

    {% endblock fil_ariane %}

	{% block content %}

        {# Section Principale #}
        <section class="section-main">

            <div class="container">

                <div class="row">

                    <h4 class="pl-3">Support</h4>

                    <div class="col">

                        <p>Pour nous contacter, merci d'envoyer prioritairement votre requete par mail:
                        	<a href="mailto:arcalyon.web@gmail.com"> arcalyon.web@gmail.com </a>  </p>
                        	<p>En cas d'urgence, vous pouvez nous contacter au 06 61 97 61 41.</p>

                        	<p>Pour toutes questions sur l'utilisation d'ArcOffice, merci de consulter votre référent local.</p>

                    </div>

                </div>

            </div>

        </section>

    {% endblock content %}