{% extends 'base.html.twig' %}

	{# Variables #}
	{% if app.request.get("_route") == 'addAnnuaire' %}

        {% set title_page = "Ajouter un nouveau contact" %}
        {% set description_page = "Création d'un nouveau contact" %}

    {% elseif app.request.get("_route") == 'editAnnuaire' %}

        {% set title_page = "Modifier le contact : " ~ form.vars.value.nom ~ ' ' ~ form.vars.value.prenom %}
        {% set description_page = "Édition du contact : " ~ form.vars.value.nom ~ ' ' ~ form.vars.value.prenom %}

    {% endif %}
	
	{# Réécriture SEO #}
	{% block header %}

        {% embed "include/header.html.twig" %}

            {# Titre #}
            {% block seo_title %}

                ArcOffice - {{ title_page }}

            {% endblock seo_title %}

            {# Description #}
            {% block seo_description %}

                {{ description_page }}

            {% endblock seo_description %}

        {% endembed %}

    {% endblock header %}

	{# Body Class #}
	{% block body_class %}arcoffice-edition{% endblock %}

	{# Section 'Fil d'ariane' #}
	{% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" with { page_name : title_page } %}

            {% block fil_ariane_link %}

                <li class="breadcrumb-item d-flex align-items-center">

                    <a href="{{ path('listeAnnuaires') }}">Annuaires</a>

                </li>

            {% endblock %}

        {% endembed %}

    {% endblock fil_ariane %}

	{% block content %}

        {# Section Principale #}
        <section class="section-main">

            <div class="container">

                <div class="row">

                    {# Colonne Édition d'un médecin #}
                    <div class="col col-arcoffice col-medecin-editer">

                        {{ form_start(form) }}

                        {% form_theme form 'form/submit.html.twig' %}

                        {# Titre + Boutons #}
                        <div class="form-title d-flex align-items-center">

                            {{ title_page }}

                            <div class="ml-auto mr-1">

                                {# Supprimer #}
                                {% if form.vars.value.id and is_granted('ROLE_ARC') %}

                                    {% include 'include/liste/btn-supprimer.html.twig' with {

                                        title : "Supprimer le contact",
                                        route_delete : 'deleteAnnuaire',
                                        route_liste : 'listeAnnuaires',
                                        message: "Le contact a été supprimé.",
                                        id: form.vars.value.id

                                    } %}

                                {% endif %}

                                {# Enregistrer #}
                                {{ form_widget(form.envoyer, {
                                    'fa' : 'fa-check',
                                    'right' : true,
                                    'label' : ' ',
                                    'attr': {
                                        'class': 'btn btn-sm btn-outline-success title-tooltip',
                                        'title': "Enregistrer le contact"
                                    }
                                }) }}

                            </div>

                        </div>

                        <div class="form-row form-group">

                            {# Nom #}
                            <div class="col">

                                {{ form_label(form.nom) }}

                                {{ form_errors(form.nom) }}

                                {{ form_widget(form.nom, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                            {# Prénom #}
                            <div class="col">

                                {{ form_label(form.prenom) }}

                                {{ form_errors(form.prenom) }}

                                {{ form_widget(form.prenom, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                            {# Fonction #}
                            <div class="col">

                                {{ form_label(form.fonction) }}

                                {{ form_errors(form.fonction) }}

                                {{ form_widget(form.fonction, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                        </div>

                        <div class="form-row form-group">

                            {# Essai #}
                            <div class="col">

                                {{ form_label(form.essai) }}

                                {{ form_errors(form.essai) }}

                                {{ form_widget(form.essai, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                            {# Autres #}
                            <div class="col">

                                {{ form_label(form.autre) }}

                                {{ form_errors(form.autre) }}

                                {{ form_widget(form.autre, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                        </div>

                        <div class="form-row form-group">

                            {# Téléphone #}
                            <div class="col-3" title="ligne direct">

                                {{ form_label(form.telephone) }}

                                {{ form_errors(form.telephone) }}

                                {{ form_widget(form.telephone, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                            {# Tél. Portable #}
                            <div class="col-3" title="portable">

                                {{ form_label(form.portable) }}

                                {{ form_errors(form.portable) }}

                                {{ form_widget(form.portable, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                            {# Adresse Email #}
                            <div class="col">

                                {{ form_label(form.mail) }}

                                {{ form_errors(form.mail) }}

                                {{ form_widget(form.mail, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                        </div>

                        <div class="form-row form-group">

                            {# Société #}
                            <div class="col">

                                {{ form_label(form.societe) }}

                                {{ form_errors(form.societe) }}

                                {{ form_widget(form.societe, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                            {# fax #}
                            <div class="col" title="Fax">

                                {{ form_label(form.fax) }}

                                {{ form_errors(form.fax) }}

                                {{ form_widget(form.fax, { 'attr': { 'class': 'form-control form-control-sm' } }) }}

                            </div>

                        </div>

                    </div>

                    {# Colonne Information #}
                    {% if app.request.get('_route') == 'editAnnuaire' %}

                        <div class="col-5 col-arcoffice col-medecin-editer small">

                            {# Titre + Boutons #}
                            <div class="form-title d-flex align-items-center">Informations</div>

                            <div class="form-row form-group">

                                {# Notes #}
                                <div class="col">

                                    {{ form_label(form.notes) }}

                                    {{ form_errors(form.notes) }}

                                    {{ form_widget(form.notes, { 'attr': { 'class': 'form-control form-control-sm', 'rows' : '5' } }) }}

                                </div>

                            </div>

                        </div>

                    {% else %}

                        {% do form.notes.setRendered %}

                    {% endif %}

                    {{ form_end(form) }}

                </div>

            </div>

        </section>

    {% endblock content %}